@model IEnumerable<ShelbyChester.Core.Models.Order>

@{
    ViewBag.Title = "Driver";
    Layout = "~/Views/Shared/_LayoutPageWithTheme.cshtml";
}
<div class="w3l-middle py-5" style="text-align:left">
    <div class="container py-xl-5 py-lg-3">
        <div class="welcome-left py-md-5 py-3">
            <h6></h6>
            <h4>Driver</h4>
            <p class="pr-lg-5">
                Update Task
            </p>
            <div class="buttons mt-5">
                <a></a>
                <a></a>
            </div>
        </div>
    </div>
</div>
@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<div style="padding-top: 25px; padding-left: 30px; padding-right: 30px; padding-bottom:50px">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.postalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliverTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.ItemDescription)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.NumberOfItem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeightOfItem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderStatus)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.EmployeeId)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.DriverId)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.postalCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliverTo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.ItemDescription)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfItem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WeightOfItem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderStatus)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.EmployeeId)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.DriverId)
        </td>
        @if (item.OrderStatus == "Order Packed")
        {
            <td>
                @Html.ActionLink("Driver Task", "DriverUpdate", new { id = item.Id })
            </td>
        }

    </tr>
        }

    </table>
</div>
