@model IEnumerable<ShelbyChester.Core.Models.ClientPreAdvice>

@{
    ViewBag.Title = "UserIndex";
    Layout = "~/Views/Shared/_LayoutPageWithTheme.cshtml";
}

<div class="w3l-middle py-5">
    <div class="container py-xl-5 py-lg-3">
        <div class="welcome-left py-md-5 py-3">
            <h6></h6>
            <h4>Client pre-advice</h4>
            <p class="pr-lg-5">
                Need advice? send as your information and we will select the best suited container for you.
            </p>
            @*<div class="buttons mt-5">
                    <a></a>
                    <a></a>
                </div>*@
        </div>
    </div>
</div>

<br />

<div class="text-center">
    <h2>Past Advice Submissions</h2>
</div>
<br />
@*<div class="table-responsive">
        <table class="table table-bordered table-condensed table-striped" style="width: 60%" align="center">
            <thead>
                <tr>
                    <th>Made At:</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedAt)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>*@

<div class="table-responsive">
    <table class="table table-bordered table-condensed table-striped" style="width: 60%" align="center">
        <thead>
            <tr>
                <th style="width: 20px">Made At:</th>
                <th>Name</th>
                <th>Surname</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer_Surname)
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>

<div class="table-responsive">
    <table class="table table-bordered table-condensed table-striped" style="width: 60%" align="center">
        <thead>
            <tr>
                <th style="width: 20px">Made At:</th>
                <th>Physical Address</th>
                <th>Email Address</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer_Address)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer_Email)

                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>

<div class="table-responsive">
    <table class="table table-bordered table-condensed table-striped" style="width: 60%" align="center">
        <thead>
            <tr>
                <th style="width: 20px">Made At:</th>
                <th>Cell Phone Number</th>
                <th>Number of Items</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer_CellNum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberOfItems)
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>

<div class="table-responsive">
    <table class="table table-bordered table-condensed table-striped" style="width: 60%" align="center">
        <thead>
            <tr>
                <th style="width: 20px">Made At:</th>
                <th>Weight on an Individual Item (Kg)</th>
                <th>Size of an Item (m<sup>2</sup>)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WeightOfItems)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SizePerItem)
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>

<div class="table-responsive">
    <table class="table table-bordered table-condensed table-striped" style="width: 60%" align="center">
        <thead>
            <tr>
                <th style="width: 20px">Made At:</th>
                <th>Further Description of Item</th>
                <th>Container Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Client_Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContainerType)
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>

<br />
<br />

@*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
    @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
