@model ShelbyChester.Core.Models.ContainerCategory

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutPageWithTheme.cshtml";
}
@*Add this after (div class="w3l-middle py-5" style="text-align: center) to change background image
; background: url(../../assets/images/ContainerType.jpeg) center; "*@
<div class="w3l-middle py-5" style="text-align: center">
    <div class="container py-xl-5 py-lg-3">
        <div class="welcome-left py-md-5 py-3">
            <h6></h6>
            <h4>Container Type</h4>
            <p class="pr-lg-5">
                Confirm removal of container type
            </p>
            <div class="buttons mt-5">
                <a></a>
                <a></a>
            </div>
        </div>
    </div>
</div>




<div style="padding-top: 25px; padding-left: 30px; padding-right: 30px; padding-bottom: 50px">
    <h2>Delete</h2>
    <h3>Are you sure you want to delete this container?</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <img class="img-responsive" src="~/Content/ContainerType/@Model.Image" />
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContainerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContainerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContainerWeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContainerWeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContainerSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContainerSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
